<div class="cc-tile">
    <div class="cc-tile-suits" aria-hidden="true">
        <span class="cc-suit cc-suit-spade">&spades;</span>
        <span class="cc-suit cc-suit-heart">&hearts;</span>
        <span class="cc-suit cc-suit-club">&clubs;</span>
        <span class="cc-suit cc-suit-diamond">&diams;</span>
    </div>
    <div class="cc-tile-name">Card Counter</div>
    <div class="cc-tile-tag">High-stakes blackjack</div>
</div>
