<div class="dtd-tile">
    <div class="dtd-mannequin" aria-hidden="true">
        <div class="dtd-head"></div>
        <div class="dtd-body"></div>
        <div class="dtd-pencil">&#9998;</div>
    </div>
    <div class="dtd-tile-name">Drawn To Dress</div>
    <div class="dtd-tile-tag">Sketch &amp; style</div>
</div>
