@page "/games/split-the-deck/lobby"

@inherits DisposableComponent

<PageTitle>Split The Deck</PageTitle>

<h1>Lobby</h1>

<div class="lobby-form">
    <div class="lobby-form-room-code">
        <h2>
            Room Code:
        </h2>
        <input placeholder="KN0CK3OX" type="text" maxlength="8" name="room-code"/>
    </div>
    <div class="lobby-form-button-group">
        <button>Join</button>
        <hr />
        <button>Create Game</button>
    </div>
</div>