@page "/"
@page "/home"

@using KnockBox.Services.Navigation.Games

@inherits DisposableComponent

<PageTitle>Knockbox Games</PageTitle>

<h1>Home</h1>

<div class="join-form">
    <div class="join-form-room-code">
        <h2>
            Room Code:
        </h2>
        <input placeholder="KN0CK3OX" 
               type="text" maxlength="8" name="room-code" 
               @bind="LobbyCode"/>
    </div>
    <button @onclick="() => JoinLobby(LobbyCode)">Join</button>
</div>

<div class="game-grid">
    <button class="game" aria-label="Split the Deck" @onclick="() => CreateLobby(GameType.SplitTheDeck)">
        Split the Deck
    </button>
    <button class="game" aria-label="Card Counter" @onclick="() => CreateLobby(GameType.CardCounter)">
        Card Counter
    </button>
</div>