<div class="ds-tile">
    <div class="ds-dice" aria-hidden="true">
        <div class="ds-die ds-die-left">
            <span class="ds-pip ds-pip-tl"></span>
            <span class="ds-pip ds-pip-c"></span>
            <span class="ds-pip ds-pip-br"></span>
        </div>
        <div class="ds-die ds-die-right">
            <span class="ds-pip ds-pip-tl"></span>
            <span class="ds-pip ds-pip-tr"></span>
            <span class="ds-pip ds-pip-bl"></span>
            <span class="ds-pip ds-pip-br"></span>
        </div>
    </div>
    <div class="ds-tile-name">Dice Simulator</div>
    <div class="ds-tile-tag">Roll the bones</div>
</div>
