<div class="ds-tile">
    <div class="ds-bg-glow" aria-hidden="true"></div>

    <div class="ds-d20" aria-hidden="true">
        <div class="ds-d20-glow"></div>
        <div class="ds-d20-shape">
            <span class="ds-d20-numeral ds-d20-num-20">20</span>
            <span class="ds-d20-numeral ds-d20-num-1">1</span>
        </div>
    </div>

    <div class="ds-tile-name">Dice Simulator</div>
    <div class="ds-expression" aria-hidden="true">3d20+5</div>
    <div class="ds-tile-tag">Roll any dice. Chase the nat-20.</div>
</div>
