@page "/room/hidden-agenda/{ObfuscatedRoomCode}"
@using KnockBox.HiddenAgenda.Services.State.Games
@using KnockBox.HiddenAgenda.Services.Logic.Games
@using KnockBox.HiddenAgenda.Components
@inherits DisposableComponent

<PageTitle>Hidden Agenda</PageTitle>
<HeadContent>
    <link href="_content/KnockBox.HiddenAgenda/KnockBox.HiddenAgenda.styles.css" rel="stylesheet" />
</HeadContent>

@if (GameState == null)
{
    <div>Loading...</div>
}
else
{
    <div class="ha-app-container">
        @switch (GameState.Phase)
        {
            case GamePhase.Lobby:
                <LobbyPhase GameState="GameState" Engine="GameEngine"
                            UserService="UserService" Config="GameState.Config"
                            RoomCode="@RoomCode" />
                break;
            case GamePhase.RoundSetup:
                <RoundSetupPhase GameState="GameState" UserService="UserService" />
                break;
            case GamePhase.EventCardPhase:
            case GamePhase.SpinPhase:
            case GamePhase.MovePhase:
            case GamePhase.DrawPhase:
                <TurnPhase GameState="GameState" Engine="GameEngine"
                           UserService="UserService" />
                break;
            case GamePhase.GuessPhase:
                <GuessPhase GameState="GameState" Engine="GameEngine"
                            UserService="UserService" />
                break;
            case GamePhase.FinalGuess:
                <FinalGuessPhase GameState="GameState" Engine="GameEngine"
                                 UserService="UserService" />
                break;
            case GamePhase.Reveal:
                <RevealPhase GameState="GameState" UserService="UserService" />
                break;
            case GamePhase.RoundOver:
                <RoundOverPhase GameState="GameState" Engine="GameEngine"
                                UserService="UserService" />
                break;
            case GamePhase.MatchOver:
                <MatchOverPhase GameState="GameState" Engine="GameEngine"
                                UserService="UserService" />
                break;
        }
    </div>
}
