@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (isLoaded)
{
    <p>Welcome to your new app.</p>
    <button @onclick="() => LoadStuff()">Click to load again.</button>
}
else
{
    <p>Loading...</p>
}

@code {
    private CancellationTokenSource? cts;
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadStuff();
    }

    protected async Task LoadStuff() 
    {
        if (cts is not null) 
        {
            cts.Cancel();
            cts.Dispose();
        }

        cts = new CancellationTokenSource();
        isLoaded = false;
        StateHasChanged();
        await Task.Delay(2500, cts.Token);
        isLoaded = true;
        StateHasChanged();
    }
}