.dndm-token {
    transition: transform 150ms ease-out;
    cursor: grab;
}

.unselectable {
    pointer-events: none;
}

.dndm-token:active {
    cursor: grabbing;
}

.dndm-token--hidden {
    opacity: 0.5;
}
