<div class="hidden-agenda-tile">
    <div class="art-frame">
        <div class="gallery-content">
            <h3 class="game-title">Hidden Agenda</h3>
            <p class="tagline">The Great Exhibition</p>
        </div>
    </div>
</div>
