<div class="game-tile-surface ha-tile">
    <div class="tm-wip-overlay">
        <div class="tm-hazard-tape">
            <span class="tm-wip-text">Work In Progress</span>
        </div>
    </div>
    <div class="ha-tile-frame">
        <div class="ha-tile-content">
            <h3 class="ha-tile-title">Hidden Agenda</h3>
            <p class="ha-tile-tagline">The Great Exhibition</p>
        </div>
    </div>
</div>
