<div class="ha-tile">
    <div class="ha-tile-frame">
        <div class="ha-tile-content">
            <h3 class="ha-tile-title">Hidden Agenda</h3>
            <p class="ha-tile-tagline">The Great Exhibition</p>
        </div>
    </div>
</div>
