<div class="game-tile-surface tm-tile">
    <div class="tm-wip-overlay">
        <div class="tm-hazard-tape">
            <span class="tm-wip-text">Work In Progress</span>
        </div>
    </div>
    <div class="tm-tile-name">Task Master</div>
    <div class="tm-tile-tag">Complete tasks before time runs out.</div>
</div>
